$negro_opaco: rgba(0, 0, 0, 0.8);
$negro_sin_opacidad: rgba(0, 0, 0, 0.2);
$fuxia: rgb(156, 103, 226);
$gris_liviano: rgb(243, 240, 240);
* {
    padding: 0px;
    margin: 0px;
}

@mixin ser-ven-cos {
    width: 30%;
    padding: 1%;
    text-align: center;
    p {
        height: 12vh;
    }
    h3 {
        color: $fuxia;
    }
    button {
        border-radius: 30px;
        padding: 1%;
        width: 50%;
        border: none;
        background-color: $negro_opaco;
        color: $fuxia;
    }
}

@mixin formularios {
    padding: 2%;
    background-color: white;
    border: 1px solid $fuxia;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

@mixin btn-entrar-crear {
    color: $gris_liviano;
    background-color: $fuxia;
    padding: 2px;
    margin-top: 3%;
    width: 30%;
    border: 1px solid transparent;
    border-radius: 30px;
    &:hover {
        box-shadow: 5px 3px rgba(190, 190, 190, 0.8);
    }
}

@mixin btn-forgot {
    border-radius: 30px;
    border: 1px solid $fuxia;
    color: $fuxia;
    width: 30%;
    background: white;
    padding: 2px;
}

@mixin input-form {
    padding: 5px;
    margin: auto;
    width: 20%;
    margin-bottom: 1%;
    border: none;
    border-bottom: 1px solid $fuxia;
    &::placeholder {
        color: rgb(199, 198, 198);
    }
    &:focus {
        outline: none;
    }
}

header {
    height: 11vh;
    width: 100%;
    .navbar {
        font-family: "Bitter", serif;
        padding: 0px;
        color: $fuxia;
        position: relative;
        height: 100%;
        width: 100%;
        background-color: $negro_opaco;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        .logo {
            width: auto;
            display: flex;
            flex-direction: row;
            a {
                margin: auto;
                text-align: center;
                i {
                    margin-left: 12px;
                    margin-right: 12px;
                    color: $fuxia;
                    font-size: 2.9em;
                }
            }
            h1 {
                margin: 0px;
                font-size: 2.9em;
            }
        }
        .menu {
            margin-left: 1%;
            width: 58%;
            text-align: center;
            ul {
                margin: auto;
                li {
                    display: inline;
                    padding: 5px;
                    text-transform: uppercase;
                    a {
                        text-decoration: none;
                        color: $fuxia;
                    }
                    &:hover {
                        border-bottom: 1px solid $fuxia;
                    }
                }
            }
        }
        .dropdown {
            position: absolute;
            z-index: 5;
            display: none;
        }
        .login_create {
            width: 21%;
            ul {
                margin: auto;
                padding: 0px;
                list-style: none;
                text-align: center;
                li {
                    padding: 1%;
                    font-size: 20px;
                    display: inline;
                    cursor: pointer;
                    text-transform: uppercase;
                    &:hover {
                        border-bottom: 1px solid $fuxia;
                        transition: 500ms;
                    }
                    a {
                        color: $fuxia;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

main {
    background-color: $gris_liviano;
    width: 100%;
    .section_wave {
        div {
            position: relative;
            img {
                width: 1903px;
                object-fit: cover;
            }
            .wave {
                width: 100%;
                position: absolute;
                bottom: 0px;
            }
        }
    }
    .section_informacion {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        .servicios {
            @include ser-ven-cos;
        }
        .ventajas {
            @include ser-ven-cos;
        }
        .costos {
            @include ser-ven-cos;
        }
    }
    .section_juegos_compra {
        width: 100%;
        background-color: $negro_opaco;
        border-bottom: 2px solid $fuxia;
        border-top: 2px solid $fuxia;
        padding: 1%;
        .juegos {
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            width: 45%;
            h2 {
                color: $fuxia;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
            }
            h3 {
                width: 100%;
                text-align: center;
                color: $fuxia;
                text-transform: uppercase;
                font-style: italic;
            }
            .addCarrito {
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-content: center;
                .card {
                    height: 100%;
                    margin-left: 10px;
                    width: 15rem;
                    position: relative;
                    border: 1px solid black;
                    img {
                        object-fit: cover;
                        height: 100%;
                    }
                    h4,
                    h3 {
                        font-size: 1.3em;
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        text-align: center;
                        z-index: 5;
                        color: white;
                    }
                }
                p {
                    text-align: center;
                    color: $fuxia;
                }
            }
        }
    }
    .section_juegos {
        margin-top: 3%;
        width: 100%;
        background-color: $negro_opaco;
        border-bottom: 2px solid $fuxia;
        border-top: 2px solid $fuxia;
        padding: 1%;
        .juegos {
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            h2 {
                color: $fuxia;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
            }
            h3 {
                width: 100%;
                text-align: center;
                color: $fuxia;
                text-transform: uppercase;
                font-style: italic;
            }
            .card {
                margin-left: 10px;
                width: 17rem;
                position: relative;
                border: 1px solid black;
                img {
                    object-fit: cover;
                    height: 100%;
                }
                h4,
                h3 {
                    font-size: 1.3em;
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    text-align: center;
                    z-index: 5;
                    color: white;
                }
            }
        }
    }
    .section_contacto {
        width: 100%;
        .contacto {
            padding: 2%;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            h3 {
                padding: 1%;
                margin: auto;
                border-radius: 30px;
                text-align: center;
                width: 70%;
                margin-bottom: 2%;
                background-color: $negro_opaco;
                color: $fuxia;
                box-shadow: 0px 0px 10px 2px $fuxia;
            }
            form {
                width: 50%;
                margin: auto;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                input {
                    padding: 1%;
                }
                input,
                input[type="submit"] {
                    border: none;
                    margin: auto;
                    width: 30%;
                    margin-top: 1%;
                    margin-bottom: 1%;
                    border-radius: 30px;
                    &:focus {
                        outline: none;
                    }
                }
                input[type="submit"] {
                    background-color: $negro_opaco;
                    color: $fuxia;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 30px;
                    &:hover {
                        box-shadow: 0px 0px 10px 2px $fuxia;
                    }
                }
                textarea {
                    padding: 2%;
                    border-radius: 30px;
                    resize: none;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        .wave {
            width: 100%;
        }
    }
    .section_suscripciones {
        position: relative;
        width: 100%;
        background-color: $negro_opaco;
        padding: 0% 2% 2% 2%;
        h2 {
            text-transform: uppercase;
            font-size: 5em;
            width: 100%;
            text-align: center;
            font-style: italic;
            color: $fuxia;
            margin-bottom: 2%;
            letter-spacing: 2px;
        }
        .suscripciones {
            color: $fuxia;
            padding: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            display: none;
            .card {
                width: 18rem;
                padding: 1%;
                background-color: $gris_liviano;
                border-radius: 500px;
                text-align: center;
                color: $negro_opaco;
                margin-top: 1%;
                border-radius: 2px solid $fuxia;
                .btn {
                    background-color: $negro_opaco;
                    color: $gris_liviano;
                    border: none;
                }
            }
        }
        .carousel {
            width: 50%;
            margin: auto;
            .card {
                margin: auto;
                width: 25rem;
                padding: 1%;
                background-color: $gris_liviano;
                border-radius: 300px;
                text-align: center;
                color: $negro_opaco;
                border-radius: 2px solid $fuxia;
                .btn {
                    background-color: $negro_opaco;
                    color: $gris_liviano;
                    border: none;
                }
            }
        }
        .wave {
            position: absolute;
            width: 100%;
            top: 0px;
        }
    }
}

footer {
    height: 5vh;
    border-top: 1px solid $fuxia;
    padding: 5px;
    background-color: $negro_opaco;
    color: $fuxia;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    p {
        width: 50%;
        margin-top: 15px;
    }
    ul {
        margin-top: 15px;
        width: 50%;
        list-style: none;
        li {
            display: inline;
            a {
                i {
                    color: $fuxia;
                    font-size: x-large;
                    margin-left: 5%;
                }
            }
        }
    }
}


/*----------------------------------------------INICIAR SESION-CREAR CUENTA-------------------------------------------------*/

.main_iniciarSesion {
    width: 100%;
    .section_login {
        .login {
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            border-radius: 15px;
            width: 100%;
            background-color: $gris_liviano;
            color: $negro_opaco;
            img {
                width: 10%;
                max-height: 40%;
            }
            form {
                @include formularios;
                margin-top: 2%;
                margin-bottom: 2%;
                h3 {
                    text-transform: uppercase;
                    color: $fuxia;
                    font-size: 2em;
                    margin-top: 0%;
                }
                input {
                    @include input-form;
                }
                .btn {
                    @include btn-entrar-crear();
                }
                .forgot {
                    @include btn-forgot;
                }
            }
            .wave {
                width: 100%;
            }
        }
    }
    .section_crearCuenta {
        background-color: $negro_opaco;
        padding: 2%;
        form {
            i {
                font-size: xx-large;
            }
            @include formularios;
            border: 2px solid $fuxia;
            h3 {
                width: 100%;
                text-align: center;
                color: $fuxia;
            }
            .btn {
                @include btn-entrar-crear;
            }
            .datos {
                i {
                    width: 5%;
                }
                .forgot {
                    @include btn-forgot;
                }
                margin-bottom: 1%;
                input {
                    @include input-form;
                    width: 95%;
                }
            }
        }
    }
}


/*----------------------------------------------------RESPONSIVE----------------------------------------------------*/

@media (max-width: 1280px) {
    .header_index {
        .navbar {
            .logo {
                width: 50%;
                text-align: start;
                h1 {
                    width: 100%;
                }
                a {
                    margin: 0%;
                }
            }
            .menu {
                display: none;
            }
            .login_create {
                width: 50%;
                ul {
                    text-align: end;
                    margin-right: 1%;
                }
            }
        }
    }
    main {
        .section_wave {
            div {
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .section_informacion {
            justify-content: center;
            .servicios {
                h3 {
                    font-size: 1.5em;
                }
                p {
                    height: 15vh;
                }
            }
            .ventajas {
                h3 {
                    font-size: 1.5em;
                }
                p {
                    height: 15vh;
                }
            }
            .costos {
                h3 {
                    font-size: 1.5em;
                }
                p {
                    height: 15vh;
                }
            }
        }
        .section_juegos {
            .juegos {
                justify-content: center;
                .card {
                    width: 12rem;
                    margin-left: 2px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .body_index {
        height: 242vh;
        main {
            .section_informacion {
                justify-content: center;
                .servicios {
                    h3 {
                        font-size: 1.3em;
                    }
                    p {
                        height: 15vh;
                    }
                }
                .ventajas {
                    h3 {
                        font-size: 1.3em;
                    }
                    p {
                        height: 15vh;
                    }
                }
                .costos {
                    h3 {
                        font-size: 1.3em;
                    }
                    p {
                        height: 15vh;
                    }
                }
            }
            .section_juegos {
                .juegos {
                    justify-content: baseline;
                    .card {
                        width: 15rem;
                        margin-left: 10px;
                        margin-top: 15px;
                    }
                }
            }
        }
        footer {
            height: 4.2vh;
            p {
                margin: 0%;
            }
            ul {
                margin: 0%;
            }
        }
    }
    /*--------------------------------INICIAR SESION MEDIAQUERIE 1024--------------------------------*/
    body {
        height: 125vh;
        .main_iniciarSesion {
            .section_login {
                .login {
                    form {
                        width: 80%;
                    }
                }
            }
            .section_crearCuenta {
                .crear_cuenta {
                    form {
                        width: 80%;
                    }
                }
            }
        }
        footer {
            height: 6.1vh;
            p {
                margin: 0%;
            }
            ul {
                margin: 0%;
            }
        }
    }
}

@media (max-width: 768px) {
    .body_index {
        height: 250vh;
        .header_index {
            .navbar {
                .login_create {
                    ul {
                        margin-right: 3%;
                    }
                }
            }
        }
        main {
            .section_informacion {
                justify-content: flex-start;
                .servicios {
                    width: 34%;
                    h3 {
                        height: 5vh;
                    }
                    height: 30vh;
                    p {
                        font-size: 13px;
                        font-weight: bold;
                    }
                }
                .ventajas {
                    width: 34%;
                    height: 30vh;
                    h3 {
                        height: 5vh;
                    }
                    p {
                        font-size: 13px;
                        font-weight: bold;
                    }
                }
                .costos {
                    width: 34%;
                    height: 30vh;
                    h3 {
                        height: 5vh;
                    }
                    p {
                        font-size: 13px;
                        font-weight: bold;
                    }
                }
                button {
                    width: 70%;
                }
            }
            .section_juegos {
                margin-top: 0%;
                h3 {
                    margin-top: 2%;
                }
                .juegos {
                    justify-content: baseline;
                    .card {
                        width: 11rem;
                    }
                }
            }
            .section_contacto {
                .contacto {
                    input {
                        width: 50%;
                        padding-left: 20px;
                    }
                    textarea {
                        margin-top: 5px;
                        margin-bottom: 5px;
                        padding-left: 20px;
                    }
                }
            }
            .section_suscripciones {
                .carousel {
                    width: 80%;
                }
            }
        }
        footer {
            height: 7vh;
        }
    }
    /*--------------------------------INICIAR SESION MEDIAQUERIE 768--------------------------------*/
    body {
        height: 120vh;
        footer {
            height: 7.5vh;
        }
    }
}

@media (max-width: 540px) {
    .body_index {
        height: 100vh;
        .header_index {
            .logo {
                i {
                    font-size: 2em;
                }
                h1 {
                    font-size: 2em;
                }
            }
        }
        main {
            .wave {
                display: none;
            }
            .section_informacion {
                justify-content: flex-start;
                .servicios {
                    width: 34%;
                    height: 30vh;
                    h3 {
                        font-size: 15px;
                        height: 5vh;
                    }
                    p {
                        font-size: 10px;
                        font-weight: bold;
                    }
                }
                .ventajas {
                    width: 34%;
                    height: 30vh;
                    h3 {
                        font-size: 15px;
                        height: 5vh;
                    }
                    p {
                        font-size: 10px;
                        font-weight: bold;
                    }
                }
                .costos {
                    width: 34%;
                    height: 30vh;
                    h3 {
                        height: 5vh;
                        font-size: 15px;
                    }
                    p {
                        font-size: 10px;
                        font-weight: bold;
                    }
                }
            }
            .section_juegos {
                .juegos {
                    justify-content: baseline;
                    .card {
                        width: 8rem;
                        h4 {
                            background-color: $negro_opaco;
                            font-size: 10px;
                        }
                    }
                }
            }
            .section_contacto {
                .contacto {
                    h3 {
                        font-size: 1em;
                    }
                    textarea {
                        padding: 0%;
                        padding-left: 10px;
                    }
                    input {
                        width: 70%;
                    }
                    input[type="submit"] {
                        width: 70%;
                        padding: 0px;
                    }
                }
            }
            .section_suscripciones {
                h2 {
                    font-size: 2.5em;
                }
                .carousel {
                    .card {
                        width: 20rem;
                    }
                }
            }
        }
    }
    /*--------------------------------INICIAR SESION MEDIAQUERIE 540--------------------------------*/
    body {
        .main_iniciarSesion {
            .section_login {
                .login {
                    form {
                        width: 90%;
                        input {
                            width: 70%;
                        }
                        input[type="submit"] {
                            width: 40%;
                        }
                    }
                }
            }
            .section_crearCuenta {
                .crear_cuenta {
                    form {
                        width: 90%;
                        i {
                            font-size: medium;
                        }
                        input {
                            width: 90%;
                        }
                    }
                }
            }
        }
        footer {
            p {
                width: 70%;
                font-size: 1em;
            }
            ul {
                width: 30%;
            }
        }
    }
}

@media (max-width: 540px) {
    .body_index {
        .header_index {
            .logo {
                i {
                    font-size: 1em;
                }
                h1 {
                    font-size: 1em;
                }
            }
            .login_create {
                ul {
                    li {
                        a {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
        main {
            .section_informacion {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .servicios {
                    width: 70%;
                    border-bottom: 1px solid $negro_opaco;
                    p {
                        font-size: 11px;
                    }
                    h3 {
                        margin: 0px;
                    }
                }
                .ventajas {
                    width: 70%;
                    border-bottom: 1px solid $negro_opaco;
                    p {
                        font-size: 11px;
                    }
                    h3 {
                        margin: 0px;
                    }
                }
                .costos {
                    width: 70%;
                    p {
                        font-size: 11px;
                    }
                    h3 {
                        margin: 0px;
                    }
                }
            }
            .section_contacto {
                .contacto {
                    h3 {
                        width: 95%;
                        padding: 5px;
                    }
                    form {
                        input {
                            width: 100%;
                            padding: 0px;
                            text-align: center;
                        }
                        textarea {
                            width: 100%;
                            padding: 0px;
                            text-align: center;
                        }
                    }
                }
            }
            .section_suscripciones {
                .carousel {
                    width: 100%;
                    .card {
                        width: 80%;
                    }
                }
            }
        }
        footer {
            p {
                text-align: start;
                font-size: 12px;
            }
            ul {
                width: 30%;
            }
        }
    }
    body {
        header {
            .navbar {
                .logo {
                    width: 100%;
                    a {
                        margin: 0px;
                        i {
                            font-size: 1.5em;
                        }
                    }
                    h1 {
                        width: 90%;
                        text-align: center;
                        font-size: 1.5em;
                    }
                }
            }
        }
        .main_iniciarSesion {
            .section_login {
                .login {
                    form {
                        width: 90%;
                        input {
                            width: 70%;
                        }
                        input[type="submit"] {
                            width: 50%;
                        }
                    }
                }
            }
        }
        footer {
            p {
                text-align: start;
                font-size: 12px;
            }
            ul {
                width: 30%;
            }
        }
    }
}