* {
  padding: 0px;
  margin: 0px;
}

header {
  height: 11vh;
  width: 100%;
}

header .navbar {
  font-family: "Bitter", serif;
  padding: 0px;
  color: #9c67e2;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .logo {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .navbar .logo a {
  margin: auto;
  text-align: center;
}

header .navbar .logo a i {
  margin-left: 12px;
  margin-right: 12px;
  color: #9c67e2;
  font-size: 2.9em;
}

header .navbar .logo h1 {
  margin: 0px;
  font-size: 2.9em;
}

header .navbar .menu {
  margin-left: 1%;
  width: 58%;
  text-align: center;
}

header .navbar .menu ul {
  margin: auto;
}

header .navbar .menu ul li {
  display: inline;
  padding: 5px;
  text-transform: uppercase;
}

header .navbar .menu ul li a {
  text-decoration: none;
  color: #9c67e2;
}

header .navbar .menu ul li:hover {
  border-bottom: 1px solid #9c67e2;
}

header .navbar .dropdown {
  position: absolute;
  z-index: 5;
  display: none;
}

header .navbar .login_create {
  width: 21%;
}

header .navbar .login_create ul {
  margin: auto;
  padding: 0px;
  list-style: none;
  text-align: center;
}

header .navbar .login_create ul li {
  padding: 1%;
  font-size: 20px;
  display: inline;
  cursor: pointer;
  text-transform: uppercase;
}

header .navbar .login_create ul li:hover {
  border-bottom: 1px solid #9c67e2;
  -webkit-transition: 500ms;
  transition: 500ms;
}

header .navbar .login_create ul li a {
  color: #9c67e2;
  text-decoration: none;
}

main {
  background-color: #f3f0f0;
  width: 100%;
}

main .section_wave div {
  position: relative;
}

main .section_wave div img {
  width: 1903px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .section_wave div .wave {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

main .section_informacion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .section_informacion .servicios {
  width: 30%;
  padding: 1%;
  text-align: center;
}

main .section_informacion .servicios p {
  height: 12vh;
}

main .section_informacion .servicios h3 {
  color: #9c67e2;
}

main .section_informacion .servicios button {
  border-radius: 30px;
  padding: 1%;
  width: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #9c67e2;
}

main .section_informacion .ventajas {
  width: 30%;
  padding: 1%;
  text-align: center;
}

main .section_informacion .ventajas p {
  height: 12vh;
}

main .section_informacion .ventajas h3 {
  color: #9c67e2;
}

main .section_informacion .ventajas button {
  border-radius: 30px;
  padding: 1%;
  width: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #9c67e2;
}

main .section_informacion .costos {
  width: 30%;
  padding: 1%;
  text-align: center;
}

main .section_informacion .costos p {
  height: 12vh;
}

main .section_informacion .costos h3 {
  color: #9c67e2;
}

main .section_informacion .costos button {
  border-radius: 30px;
  padding: 1%;
  width: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #9c67e2;
}

main .section_juegos {
  margin-top: 3%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid #9c67e2;
  border-top: 2px solid #9c67e2;
  padding: 1%;
}

main .section_juegos .juegos {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .section_juegos .juegos h3 {
  width: 100%;
  text-align: center;
  color: #9c67e2;
  text-transform: uppercase;
  font-style: italic;
}

main .section_juegos .juegos .card {
  margin-left: 10px;
  width: 17rem;
  position: relative;
  border: 1px solid black;
}

main .section_juegos .juegos .card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

main .section_juegos .juegos .card h4 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  z-index: 5;
  color: white;
}

main .section_contacto {
  width: 100%;
}

main .section_contacto .contacto {
  padding: 2%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section_contacto .contacto h3 {
  padding: 1%;
  margin: auto;
  border-radius: 30px;
  text-align: center;
  width: 70%;
  margin-bottom: 2%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #9c67e2;
  -webkit-box-shadow: 0px 0px 10px 2px #9c67e2;
          box-shadow: 0px 0px 10px 2px #9c67e2;
}

main .section_contacto .contacto form {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .section_contacto .contacto form input {
  padding: 1%;
}

main .section_contacto .contacto form input,
main .section_contacto .contacto form input[type="submit"] {
  border: none;
  margin: auto;
  width: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 30px;
}

main .section_contacto .contacto form input:focus,
main .section_contacto .contacto form input[type="submit"]:focus {
  outline: none;
}

main .section_contacto .contacto form input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.8);
  color: #9c67e2;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
}

main .section_contacto .contacto form input[type="submit"]:hover {
  -webkit-box-shadow: 0px 0px 10px 2px #9c67e2;
          box-shadow: 0px 0px 10px 2px #9c67e2;
}

main .section_contacto .contacto form textarea {
  padding: 2%;
  border-radius: 30px;
  resize: none;
}

main .section_contacto .contacto form textarea:focus {
  outline: none;
}

main .section_contacto .wave {
  width: 100%;
}

main .section_suscripciones {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0% 2% 2% 2%;
}

main .section_suscripciones h2 {
  text-transform: uppercase;
  font-size: 5em;
  width: 100%;
  text-align: center;
  font-style: italic;
  color: #9c67e2;
  margin-bottom: 2%;
  letter-spacing: 2px;
}

main .section_suscripciones .suscripciones {
  color: #9c67e2;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

main .section_suscripciones .suscripciones .card {
  width: 18rem;
  padding: 1%;
  background-color: #f3f0f0;
  border-radius: 500px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 1%;
  border-radius: 2px solid #9c67e2;
}

main .section_suscripciones .suscripciones .card .btn {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f3f0f0;
  border: none;
}

main .section_suscripciones .carousel {
  width: 50%;
  margin: auto;
}

main .section_suscripciones .carousel .card {
  margin: auto;
  width: 25rem;
  padding: 1%;
  background-color: #f3f0f0;
  border-radius: 300px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 2px solid #9c67e2;
}

main .section_suscripciones .carousel .card .btn {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f3f0f0;
  border: none;
}

main .section_suscripciones .wave {
  position: absolute;
  width: 100%;
  top: 0px;
}

footer {
  height: 5vh;
  border-top: 1px solid #9c67e2;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #9c67e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer p {
  width: 50%;
}

footer ul {
  width: 50%;
  list-style: none;
}

footer ul li {
  display: inline;
}

footer ul li a i {
  color: #9c67e2;
  font-size: x-large;
  margin-left: 5%;
}

/*----------------------------------------------INICIAR SESION-CREAR CUENTA-------------------------------------------------*/
.main_iniciarSesion {
  width: 100%;
}

.main_iniciarSesion .section_login .login {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  width: 100%;
  background-color: #f3f0f0;
  color: rgba(0, 0, 0, 0.8);
}

.main_iniciarSesion .section_login .login img {
  width: 10%;
  max-height: 40%;
}

.main_iniciarSesion .section_login .login form {
  padding: 2%;
  background-color: white;
  border: 1px solid #9c67e2;
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.main_iniciarSesion .section_login .login form h3 {
  text-transform: uppercase;
  color: #9c67e2;
  font-size: 2em;
  margin-top: 0%;
}

.main_iniciarSesion .section_login .login form input {
  padding: 5px;
  margin: auto;
  width: 20%;
  margin-bottom: 1%;
  border: none;
  border-bottom: 1px solid #9c67e2;
}

.main_iniciarSesion .section_login .login form input::-webkit-input-placeholder {
  color: #c7c6c6;
}

.main_iniciarSesion .section_login .login form input:-ms-input-placeholder {
  color: #c7c6c6;
}

.main_iniciarSesion .section_login .login form input::-ms-input-placeholder {
  color: #c7c6c6;
}

.main_iniciarSesion .section_login .login form input::placeholder {
  color: #c7c6c6;
}

.main_iniciarSesion .section_login .login form input:focus {
  outline: none;
}

.main_iniciarSesion .section_login .login form .btn {
  color: #f3f0f0;
  background-color: #9c67e2;
  padding: 2px;
  margin-top: 3%;
  width: 30%;
  border: 1px solid transparent;
  border-radius: 30px;
}

.main_iniciarSesion .section_login .login form .btn:hover {
  -webkit-box-shadow: 5px 3px rgba(190, 190, 190, 0.8);
          box-shadow: 5px 3px rgba(190, 190, 190, 0.8);
}

.main_iniciarSesion .section_login .login form .forgot {
  border-radius: 30px;
  border: 1px solid #9c67e2;
  color: #9c67e2;
  width: 30%;
  background: white;
  padding: 2px;
}

.main_iniciarSesion .section_login .login .wave {
  width: 100%;
}

.main_iniciarSesion .section_crearCuenta {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2%;
}

.main_iniciarSesion .section_crearCuenta form {
  padding: 2%;
  background-color: white;
  border: 1px solid #9c67e2;
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  border: 2px solid #9c67e2;
}

.main_iniciarSesion .section_crearCuenta form i {
  font-size: xx-large;
}

.main_iniciarSesion .section_crearCuenta form h3 {
  width: 100%;
  text-align: center;
  color: #9c67e2;
}

.main_iniciarSesion .section_crearCuenta form .btn {
  color: #f3f0f0;
  background-color: #9c67e2;
  padding: 2px;
  margin-top: 3%;
  width: 30%;
  border: 1px solid transparent;
  border-radius: 30px;
}

.main_iniciarSesion .section_crearCuenta form .btn:hover {
  -webkit-box-shadow: 5px 3px rgba(190, 190, 190, 0.8);
          box-shadow: 5px 3px rgba(190, 190, 190, 0.8);
}

.main_iniciarSesion .section_crearCuenta form .datos {
  margin-bottom: 1%;
}

.main_iniciarSesion .section_crearCuenta form .datos i {
  width: 5%;
}

.main_iniciarSesion .section_crearCuenta form .datos .forgot {
  border-radius: 30px;
  border: 1px solid #9c67e2;
  color: #9c67e2;
  width: 30%;
  background: white;
  padding: 2px;
}

.main_iniciarSesion .section_crearCuenta form .datos input {
  padding: 5px;
  margin: auto;
  width: 20%;
  margin-bottom: 1%;
  border: none;
  border-bottom: 1px solid #9c67e2;
  width: 95%;
}

.main_iniciarSesion .section_crearCuenta form .datos input::-webkit-input-placeholder {
  color: #c7c6c6;
}

.main_iniciarSesion .section_crearCuenta form .datos input:-ms-input-placeholder {
  color: #c7c6c6;
}

.main_iniciarSesion .section_crearCuenta form .datos input::-ms-input-placeholder {
  color: #c7c6c6;
}

.main_iniciarSesion .section_crearCuenta form .datos input::placeholder {
  color: #c7c6c6;
}

.main_iniciarSesion .section_crearCuenta form .datos input:focus {
  outline: none;
}

/*----------------------------------------------------RESPONSIVE----------------------------------------------------*/
@media (max-width: 1280px) {
  .header_index .navbar .logo {
    width: 50%;
    text-align: start;
  }
  .header_index .navbar .logo h1 {
    width: 100%;
  }
  .header_index .navbar .logo a {
    margin: 0%;
  }
  .header_index .navbar .menu {
    display: none;
  }
  .header_index .navbar .login_create {
    width: 50%;
  }
  .header_index .navbar .login_create ul {
    text-align: end;
    margin-right: 1%;
  }
  main .section_wave div img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .section_informacion {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .section_informacion .servicios h3 {
    font-size: 1.5em;
  }
  main .section_informacion .servicios p {
    height: 15vh;
  }
  main .section_informacion .ventajas h3 {
    font-size: 1.5em;
  }
  main .section_informacion .ventajas p {
    height: 15vh;
  }
  main .section_informacion .costos h3 {
    font-size: 1.5em;
  }
  main .section_informacion .costos p {
    height: 15vh;
  }
  main .section_juegos .juegos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .section_juegos .juegos .card {
    width: 12rem;
    margin-left: 2px;
  }
}

@media (max-width: 1024px) {
  .body_index {
    height: 242vh;
  }
  .body_index main .section_informacion {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body_index main .section_informacion .servicios h3 {
    font-size: 1.3em;
  }
  .body_index main .section_informacion .servicios p {
    height: 15vh;
  }
  .body_index main .section_informacion .ventajas h3 {
    font-size: 1.3em;
  }
  .body_index main .section_informacion .ventajas p {
    height: 15vh;
  }
  .body_index main .section_informacion .costos h3 {
    font-size: 1.3em;
  }
  .body_index main .section_informacion .costos p {
    height: 15vh;
  }
  .body_index main .section_juegos .juegos {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
  .body_index main .section_juegos .juegos .card {
    width: 15rem;
    margin-left: 10px;
    margin-top: 15px;
  }
  .body_index footer {
    height: 4.2vh;
  }
  .body_index footer p {
    margin: 0%;
  }
  .body_index footer ul {
    margin: 0%;
  }
  /*--------------------------------INICIAR SESION MEDIAQUERIE 1024--------------------------------*/
  body {
    height: 125vh;
  }
  body .main_iniciarSesion .section_login .login form {
    width: 80%;
  }
  body .main_iniciarSesion .section_crearCuenta .crear_cuenta form {
    width: 80%;
  }
  body footer {
    height: 6.1vh;
  }
  body footer p {
    margin: 0%;
  }
  body footer ul {
    margin: 0%;
  }
}

@media (max-width: 768px) {
  .body_index {
    height: 250vh;
  }
  .body_index .header_index .navbar .login_create ul {
    margin-right: 3%;
  }
  .body_index main .section_informacion {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .body_index main .section_informacion .servicios {
    width: 34%;
    height: 30vh;
  }
  .body_index main .section_informacion .servicios h3 {
    height: 5vh;
  }
  .body_index main .section_informacion .servicios p {
    font-size: 13px;
    font-weight: bold;
  }
  .body_index main .section_informacion .ventajas {
    width: 34%;
    height: 30vh;
  }
  .body_index main .section_informacion .ventajas h3 {
    height: 5vh;
  }
  .body_index main .section_informacion .ventajas p {
    font-size: 13px;
    font-weight: bold;
  }
  .body_index main .section_informacion .costos {
    width: 34%;
    height: 30vh;
  }
  .body_index main .section_informacion .costos h3 {
    height: 5vh;
  }
  .body_index main .section_informacion .costos p {
    font-size: 13px;
    font-weight: bold;
  }
  .body_index main .section_informacion button {
    width: 70%;
  }
  .body_index main .section_juegos {
    margin-top: 0%;
  }
  .body_index main .section_juegos h3 {
    margin-top: 2%;
  }
  .body_index main .section_juegos .juegos {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
  .body_index main .section_juegos .juegos .card {
    width: 11rem;
  }
  .body_index main .section_contacto .contacto input {
    width: 50%;
    padding-left: 20px;
  }
  .body_index main .section_contacto .contacto textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
  }
  .body_index main .section_suscripciones .carousel {
    width: 80%;
  }
  .body_index footer {
    height: 7vh;
  }
  /*--------------------------------INICIAR SESION MEDIAQUERIE 768--------------------------------*/
  body {
    height: 120vh;
  }
  body footer {
    height: 7.5vh;
  }
}

@media (max-width: 540px) {
  .body_index {
    height: 100vh;
  }
  .body_index .header_index .logo i {
    font-size: 2em;
  }
  .body_index .header_index .logo h1 {
    font-size: 2em;
  }
  .body_index main .wave {
    display: none;
  }
  .body_index main .section_informacion {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .body_index main .section_informacion .servicios {
    width: 34%;
    height: 30vh;
  }
  .body_index main .section_informacion .servicios h3 {
    font-size: 15px;
    height: 5vh;
  }
  .body_index main .section_informacion .servicios p {
    font-size: 10px;
    font-weight: bold;
  }
  .body_index main .section_informacion .ventajas {
    width: 34%;
    height: 30vh;
  }
  .body_index main .section_informacion .ventajas h3 {
    font-size: 15px;
    height: 5vh;
  }
  .body_index main .section_informacion .ventajas p {
    font-size: 10px;
    font-weight: bold;
  }
  .body_index main .section_informacion .costos {
    width: 34%;
    height: 30vh;
  }
  .body_index main .section_informacion .costos h3 {
    height: 5vh;
    font-size: 15px;
  }
  .body_index main .section_informacion .costos p {
    font-size: 10px;
    font-weight: bold;
  }
  .body_index main .section_juegos .juegos {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
  .body_index main .section_juegos .juegos .card {
    width: 8rem;
  }
  .body_index main .section_juegos .juegos .card h4 {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10px;
  }
  .body_index main .section_contacto .contacto h3 {
    font-size: 1em;
  }
  .body_index main .section_contacto .contacto textarea {
    padding: 0%;
    padding-left: 10px;
  }
  .body_index main .section_contacto .contacto input {
    width: 70%;
  }
  .body_index main .section_contacto .contacto input[type="submit"] {
    width: 70%;
    padding: 0px;
  }
  .body_index main .section_suscripciones h2 {
    font-size: 2.5em;
  }
  .body_index main .section_suscripciones .carousel .card {
    width: 20rem;
  }
  /*--------------------------------INICIAR SESION MEDIAQUERIE 540--------------------------------*/
  body .main_iniciarSesion .section_login .login form {
    width: 90%;
  }
  body .main_iniciarSesion .section_login .login form input {
    width: 70%;
  }
  body .main_iniciarSesion .section_login .login form input[type="submit"] {
    width: 40%;
  }
  body .main_iniciarSesion .section_crearCuenta .crear_cuenta form {
    width: 90%;
  }
  body .main_iniciarSesion .section_crearCuenta .crear_cuenta form i {
    font-size: medium;
  }
  body .main_iniciarSesion .section_crearCuenta .crear_cuenta form input {
    width: 90%;
  }
  body footer p {
    width: 70%;
    font-size: 1em;
  }
  body footer ul {
    width: 30%;
  }
}

@media (max-width: 540px) {
  .body_index .header_index .logo i {
    font-size: 1em;
  }
  .body_index .header_index .logo h1 {
    font-size: 1em;
  }
  .body_index .header_index .login_create ul li a {
    font-size: 1em;
  }
  .body_index main .section_informacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body_index main .section_informacion .servicios {
    width: 70%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  }
  .body_index main .section_informacion .servicios p {
    font-size: 11px;
  }
  .body_index main .section_informacion .servicios h3 {
    margin: 0px;
  }
  .body_index main .section_informacion .ventajas {
    width: 70%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  }
  .body_index main .section_informacion .ventajas p {
    font-size: 11px;
  }
  .body_index main .section_informacion .ventajas h3 {
    margin: 0px;
  }
  .body_index main .section_informacion .costos {
    width: 70%;
  }
  .body_index main .section_informacion .costos p {
    font-size: 11px;
  }
  .body_index main .section_informacion .costos h3 {
    margin: 0px;
  }
  .body_index main .section_contacto .contacto h3 {
    width: 95%;
    padding: 5px;
  }
  .body_index main .section_contacto .contacto form input {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  .body_index main .section_contacto .contacto form textarea {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  .body_index main .section_suscripciones .carousel {
    width: 100%;
  }
  .body_index main .section_suscripciones .carousel .card {
    width: 80%;
  }
  .body_index footer p {
    text-align: start;
    font-size: 12px;
  }
  .body_index footer ul {
    width: 30%;
  }
  body header .navbar .logo {
    width: 100%;
  }
  body header .navbar .logo a {
    margin: 0px;
  }
  body header .navbar .logo a i {
    font-size: 1.5em;
  }
  body header .navbar .logo h1 {
    width: 90%;
    text-align: center;
    font-size: 1.5em;
  }
  body .main_iniciarSesion .section_login .login form {
    width: 90%;
  }
  body .main_iniciarSesion .section_login .login form input {
    width: 70%;
  }
  body .main_iniciarSesion .section_login .login form input[type="submit"] {
    width: 50%;
  }
  body footer p {
    text-align: start;
    font-size: 12px;
  }
  body footer ul {
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */